/* Copyright (c) 2018 by Jon Oliver (https://codepen.io/jonoliver/pen/dVGZWw)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. */

.spinner {
  position: relative;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background:
    radial-gradient(white 2%, #c00000 2%, #c00000 22%, black 22%, black 27%, transparent 27%, transparent 37%, black 37%,black 37.5%, transparent 37.5%, transparent 49%, black 49%, black 49.5%, transparent 49.5%,transparent 55%, black 56%, black 49.5%, transparent 49.5%, transparent 69%, black 69%),
    linear-gradient(35deg, black 35%, transparent 68%),
    linear-gradient(50deg, #e3e3e3 50%, transparent 60%),
    black;
  animation: rotation 1.8s infinite linear;
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}