.guestQueue .nowPlaying {
  /* TODO: Use Bulma's $info variable when we move to Sass */
  border-right: 5px solid hsl(204, 86%, 53%);
}

.Toastify__toast-container {
  text-align: center;
}

.Toastify__toast--info {
  /* TODO: Use Bulma's $info variable when we move to Sass */
  background-color: hsl(204, 86%, 53%);
}